/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h2 {
  color: #1abc9c;
}

.group {
  /* max-width: 1140px; */
  margin: 0 auto;
}

/*------- BACKGROUND IMAGE -------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/data.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
  height: 100vh;
}

/*------- SECTION 1: HEADER AREA -------*/
.nav-info {
  color: #fff;
  float: right;
  list-style: none;
  margin: 3rem;
  font-size: 120%;
}

.nav-info li {
  display: inline;
  padding-left: 1rem;
}

.header-text {
  position: absolute;
  width: 1140px;
  top: 30%;
  left: 15%;
  color: #fff;
  font-size: 400%;
  letter-spacing: 1.5px;
  font-weight: 200;
}

.header-text p {
  font-size: 50%;
  /* margin-top: 1rem; */
}

/*-------SECTION 2: -------*/
.second-section {
  margin-top: 20px;
  width: 80%;
}

.second-section p,
h2 {
  font-size: 125%;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

/*------- SECTION 3: OUR SERVICES -------*/

.third-section {
  background-color: #f2f2f2;
}

.services {
  width: 80%;
  padding: 10px 0px 10px 0px;
}

.service-heading h2 {
  text-align: left;
  font-size: 1.5rem;
  padding-top: 20px;
}

.service-item div {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}

.service-item p {
  font-size: 120%;
}

.icon {
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
}

.icon ion-icon {
  border: 2px solid;
  padding: 5px;
  border-radius: 50%;
}

/*------- SECTION 5: OUR EXPERTISE ------*/
.fifth-section {
  background-color: #f2f2f2;
}

.expertise {
  display: flex;
  justify-content: center;
}

.logos {
  border: 1px solid;
  border-radius: 10%;
  box-shadow: 3px 3px 3px 3px #888888;
}

/*------- SECTION 6: FORM  -------*/
